<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>恋愛シミュレーションチャットボット</title>
    <link rel="stylesheet" href="static/stylesChatbot.css">
    <script src="static/scripts.js" defer></script>
</head>
<body>
    <div class="chat-container">
        <h1>恋愛シミュレーションチャットボット</h1>
        <div id="chatLog"></div>
        <input type="text" id="userInput" class="result-div" placeholder="">

        <button onclick="sendMessage()">送信</button>
        <button id="start-btn">音声入力オン</button>
        <button id="stop-btn">音声入力オフ</button>
    </div>
</body>
</html>
