    <!DOCTYPE html>
    <html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>恋愛シミュレーションゲーム</title>
        <link rel="stylesheet" href="static/style/stylesChatbot.css">

        <!-- 画像転送用 -->
        <style>
            body{
                background-image: url('/static/images/{{date_spot}}.jpg');
            }
        </style>

        <!-- サーバーから渡された値をJavaScript変数に保存　※jsに入力するとデフォルト変数が出たため -->
        <script>
            const aiName = "{{ session.AIprofile.ai_name }}";
            const userName = "{{ session.profile.name }}";  
        </script>

        <script src="static/scripts.js" defer></script>
    </head>
    <body>
        <div class="header">
            <button onclick="toggleHistory()">履歴</button>
            <button onclick="location.href='../'">終了</button>
        </div>
        
        <div class="center-image">
            <img src="/static/images/{{hiddenValue1}}.jpg" alt="Girl"
                style="
                    width: 700px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 15px;
                    display: flex;
                "
            >  
        </div>

        <div class="chat-log" id="chatLog"></div>
        <div class="user-input">
            <input type="text" id="userInput" placeholder="メッセージを入力してください" onkeydown="checkEnter(event)">
            <button onclick="sendMessage(`{{ session['AIprofile']['ai_name']}}`,`{{ session['profile']['name'] }}`)"　disabled>送信</button>
        </div>
        <div class="modal" id="historyModal">
            <div class="modal-content" id="historyContent">
                <span class="close" onclick="toggleHistory()">&times;</span>
                <div id="historyLog"></div>
            </div>
        </div>
    </body>
    </html>