<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matching App</title>
    <link rel="stylesheet" href="static/stylesIndex.css">
</head>
<body>
    <div class="logo">LoveBoost♡</div>
    <div class="button-container">
        <button class="button">マッチング</button>
        <button class="button" onclick="location.href='profile.html'">恋愛シュミレーション</button>
        <button class="button">マッチング履歴</button>
    </div>
    <div class="auth-buttons">
        <button class="auth-button">ログイン</button>
        <button class="auth-button">サインイン</button>
    </div>
</body>
</html>
