<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>シーン選択</title>
    <link rel="stylesheet" href="static/style/stylesOkonomi.css">
</head>
<body>
    <div class="container">
        <div class="title">シーン（1～3の好みで選んでください）</div>
        <form action="/set_OkonomiJyosei" method="POST">
            <div class="choices">
                <div class="choice">
                    <input type="radio" id="date1" name="date_preference" value="ご飯デート">
                    <label for="date1">
                        <img src="static/images/1.jpg" alt="ご飯デート">
                        <div class="choice-text">1 ご飯デート</div>
                    </label>
                </div>
                <div class="choice">
                    <input type="radio" id="date2" name="date_preference" value="ドライブデート">
                    <label for="date2">
                        <img src="https://via.placeholder.com/150" alt="ドライブデート">
                        <div class="choice-text">2 ドライブデート</div>
                    </label>
                </div>
                <div class="choice">
                    <input type="radio" id="date3" name="date_preference" value="スケベデート">
                    <label for="date3">
                        <img src="https://via.placeholder.com/150" alt="スケベデート">
                        <div class="choice-text">3 スケベデート</div>
                    </label>
                </div>
            </div>
            <div class="button-container">
                <button type="button" class="button" onclick="location.href='AIprofile.html'">⬅ 戻る</button>
                <button type="submit" class="button">次へ<span>➡</span></button>
            </div>
        </form>
    </div>
</body>
</html>
